header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: $colorNavbar;

    .abrirMenu, .cerrarMenu {
        background-color: transparent;
        border: 0;
        font-size: 2.3rem;
        color: $colorTipografia;
    }

    .navLogo {
        width: 3rem;
        height: auto;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 3rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $colorNavbar;
        padding: 3rem;
        width: 60%;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        
        .navList {
            display: flex;
            flex-direction: column;
            align-items: end;
            list-style-type: none;
            gap: 2rem;

            li {
                a {
                    text-decoration: none;
                    color: $colorTipografia;
                }
            }
        }
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width:1024px) {

    header {
        padding: 0.5rem;

        .navLogo {
            width: 6rem;
            margin-left: 16px;
        }

        .abrirMenu, .cerrarMenu {
            display: none;
        }

        .nav {
            opacity: 1;
            visibility: visible;
            position: inherit;
            box-shadow: none;
            padding: 2rem;

            .navList {
                flex-direction: row;
                li{
                    margin: 8px;
                }
            }
        }
    }
}