.navbar {
    background-color: $colorFondo;
    color: $colorTipografia;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navLogo {
        img {
            width: 25px;
            height: auto;
        }
    }

    .navItems {
        a {
            margin: 15px;
            color: $colorTipografia;
            text-decoration: none;
            
            li {
                list-style-type: none;
            }
        }
    }

    .navToggle {
        display: none;
    }
}