.portfolio {
    margin-top: 32px;

    h2 {
        @include h2;
    }

    .listaProyectos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 8px;
        padding: 8px;
        
        li {
            @include botones;
            padding: 16px;
            width: 85%;
            
            a {
                font-size: 24px;
                text-decoration: none;
                color: $colorTipografia;
            }
        }
    }
}

@media (min-width: 1024px) {
    .portfolio {
        height: 90vh;
        margin: 75px 150px;

        h2 {
            @include h2Desktop;
            margin: 32px 8px;
        }

        .listaProyectos {
            flex-direction: row;
            margin: 32px 8px;

            li {
                width: 190px;
                height: 190px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    font-size: 32px;
                }
            }
        }
    }
}