.portfolio {
    margin-top: 32px;

    h2 {
        @include h2;
    }

    .listaProyectos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 8px;
        padding: 8px;



        a {
            font-size: 24px;
            text-decoration: none;
            color: $colorTipografia;

            li {
                @include botones;
                padding: 16px;
                width: 85%;
            }
        }
    }
}

@media (min-width: 1024px) {
    .portfolio {
        height: 90vh;

        h2 {
            @include h2Desktop;
            margin: 75px 150px;
        }

        .listaProyectos {
            flex-direction: row;
            margin: 32px 8px;
            gap: 5rem;

            a {
                font-size: 32px;

                li {
                    width: 200px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 8px;
                    border-radius: 16px;
                }
            }

            a:hover {
                color: $colorFondo;
                font-weight: 600;

                li:hover {
                    background-color: $destacados;
                    border: 4px solid $colorTipografia;
                    transition: 0.7s;
                }
                
            }
        }
    }
}