.recursos {
    margin-top: 32px;

    h2 {
        @include h2;
    }

    p {
        margin: 8px;
        padding: 12px;
        font-size: 18px;
        line-height: 1.8;
        text-align: justify;
    }

    .listadoDeRecursos {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 8px;

        a {
            @include botones;
            margin: 8px;
            height: 7rem;
            text-decoration: none;
            color: $colorTipografia;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (min-width: 1024px) {
    .recursos {
        margin: 75px 150px;

        h2 {
            @include h2Desktop;
        }

        p {
            font-size: 22px;
        }

        .listadoDeRecursos {

            a {
                font-size: 32px;
                margin: 16px;
                border-radius: 16px;
            }

            a:hover {
                color: $colorFondo;
                background-color: $destacados;
                border: 4px solid $colorTipografia;
                transition: 0.7s;
            }

        }
    }
}